@media (min-width: 700px) {
    .body-wrap{
        width:700px;
        margin:0 auto;
    }
}

html{
    font-size: 16px;
}
#app{
    background: #F7F7F7;
}
.home{
    position:relative;
    width:100%;
}
.slide-wrap{
    width:100%;
}
.slide-content{
    width:100%;
}
.slide-item{
    width:100%;
}
.home-concern{
    width:23px;
    height:23px;
    /*width:6.2vw;*/
    /*height:6.2vw;*/
    position: absolute;
    top:25px;
    /*top:6.67vw;*/
    right:50px;
    /*right:6.67vw;*/
    z-index: 2;
}
.title-bar{
    height:40px;
    /*height:10.66vw;*/
    background-repeat: no-repeat;
    background-position: center;
    background-color:#fff;
    background-size: auto 75%;
    padding:0 5px;
    /*padding:0 1.33vw;*/
    position: relative;
}
.title-dropdown{
    position: absolute;
    top:40px;
    /*top:10.66vw;*/
    left:5px;
    /*left:1.33vw;*/
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    padding:7px 0;
    /*padding: 2vw 0;*/
    z-index: 2;
}
.title-dropdown-item{
    height:40px;
    /*height:10.66vw;*/
    line-height: 40px;
    /*line-height: 10.66vw;*/
    font-size: 16px;
    /*font-size: 4.27vw;*/
    padding: 0 7px;
    /*padding: 0 2vw;*/
    width:90px;
    /*width:24vw;*/
    color:#333;
}

/*首页卡片*/
.hc-card{
    border-radius: 5px;
    margin:5px 5px 10px;
    overflow: hidden;
    /*margin:1.33vw 1.33vw 2.67vw;*/
    background: #FFF;
}
.hi-pic{
    width:100%;
    display: block;
}
.hi-bottom-wrap{
    border:1px solid #E3E3E3;
    border-top:none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.hb-title{
    padding:15px 15px 10px;
    /*padding:4vw 4vw 2.67vw;*/
    font-size: 16px;
    /*font-size: 4.27vw;*/
    line-height: 20px;
    /*line-height: 5.34vw;*/
    color:#333;
}
.hb-date{
    font-size: 12px;
    /*font-size: 3.2vw;*/
    color:#C0C0C9;
    font-style: italic;
    padding:0 15px 0;
    /*padding:0 4vw 0;*/
    /*padding:0 15px 12.5px;*/
    /*padding:0 4vw 3.33vw;*/
}
.hb-devider{
    width:25px;
    /*width:6.67vw;*/
    margin-left: 15px;
    /*margin-left:4vw;*/
    border-top:2px solid #333;
}
.hb-people{
    font-size: 12px;
    /*font-size: 3.2vw;*/
    padding: 12.5px 30px 10px 15px;
    /*padding: 3.33vw 8vw 2.67vw 4vw;*/
}
.hb-address{
    font-size: 12px;
    /*font-size: 3.2vw;*/
    padding:0 15px 15px;
    /*padding:0 4vw 4vw;*/
    border-bottom: 1px solid #e6e6e6;
}
.hb-view{
    font-size: 12px;
    /*font-size: 3.2vw;*/
    margin:10px 15px;
    /*margin:2.67vw 4vw;*/
    height:20px;
    /*height:5.34vw;*/
    line-height: 20px;
    /*line-height: 5.34vw;*/
}
.hv-zan{
    width:20px;
    height:20px;
    /*width:5.34vw;*/
    /*height:5.34vw;*/
    margin-right:7.5px;
    /*margin-right: 2vw;*/
    float: left;
    background-size:100%;
}
.hv-num{
    float: left;
    margin-right:42px;
    /*margin-right:11.2vw;*/
}
.zan-active{
    /*background-image: url(assets/img/zan.png)*/
}
.zan-noactive{
    /*background-image: url(assets/img/not_zan.png)*/
}

/*首页人物*/
.home-people{
    background: #FFF;
    margin-bottom: 10px;
    /*margin-bottom: 2.67vw;*/
}
.hp-title{
    height:45px;
    /*height:12vw;*/
    line-height: 45px;
    /*line-height: 12vw;*/
    padding:0 20px;
    /*padding:0 5.34vw;*/
    font-size: 16px;
    /*font-size: 4.27vw;*/
    color:#1a1a1a;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.hp-fu-title{
    font-size: 12px;
    /*font-size: 3.2vw;*/
    color:#b3b3b3;
    font-style: italic;
    position: relative;
    top:1px;
    /*top:0.27vw;*/
    margin-left: 5px;
    /*margin-left: 1.33vw;*/
}
.hp-seeall{
    font-size: 12px;
    color:#a6a6a6;
    float: right;
}
.hp-item{
    width:100%;
    height:70px;
    /*height:18.67vw;*/
    border-bottom: 1px solid #e6e6e6;
    padding:10px;
    /*padding:2.67vw;*/
}
.hp-avatar{
    /*margin-right:10px;*/
    /*margin-right:2.67vw;*/
    height: 49px;
    width:49px;
    /*height:13.07vw;*/
    /*width:13.07vw;*/
}
.hp-name1{
/*    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;*/
    font-size: 13px;
    /*font-size: 3.47vw;*/
    color:#666;
    margin:5px 10px 0;
    /*margin:2.13vw 2.67vw 0;*/
}
.hp-name2{
/*    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;*/
    font-size: 10px;
    /*font-size: 2.67vw;*/
    /*color:#333;*/
    margin:5px 10px;
    /*margin:1.33vw 2.67vw;*/
    height:15px;
    line-height: 15px;
    /*height:4vw;*/
    /*line-height: 4vw;*/
}
.hp-zan{
    width:15px;
    height:15px;
    /*width:4vw;*/
    /*height:4vw;*/
    float: left;
    /*background-image: url(assets/img/zan.png);*/
    background-size:100%;
    margin-right: 3px;
    /*margin-right: 0.8vw;*/
}
.hp-rank{
    width:15px;
    height:15px;
    /*width:4vw;*/
    /*height:4vw;*/
    float: left;
    /*background-image: url(assets/img/rank.png);*/
    background-size:95%;
    background-repeat: no-repeat;
    margin-right: 3px;
    /*margin-right: 0.8vw;*/
}
.hp-word{
    font-size: 10px;
    /*font-size: 2.67vw;*/
    color:#1a1a1a;
    margin-right: 5px;
    /*margin-right: 1.33vw;*/
    float:left;
}
.hp-btn{
    width:89px;
    height:28px;
    /*width:23.73vw;*/
    /*height:7.47vw;*/
    line-height: 28px;
    /*line-height: 7.47vw;*/
    font-size: 12px;
    /*font-size: 3.2vw;*/
    text-align: center;
    background: #ededed;
    border-radius: 5px;
    /*background-image: url(assets/img/camera.png);*/
    background-repeat: no-repeat;
    background-size: 12px;
    /*background-size: 3.2vw;*/
    background-position: 20px;
    /*background-position: 5.33vw;*/
}
.hp-btn-word{
    position: relative;
    left: 5px;
    top:-1px;
    /*left:1.33vw;*/
    /*top:-0.27vw;*/
}

/*加载更多*/
.home-loadmore{
    padding:10px 0 24px;
    /*padding:2.67vw 0 6.4vw;*/
    text-align: center;
    color:#a5a5a5;
    font-size: 12px;
    /*font-size: 3.2vw;*/
}

/*字体*/
.grey{
    color:#c0c0c9;
}
.word1{
    color:#666;
}

.slick-dots{
    bottom:0;
}

/*二维码*/
.backdrop{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background: #333;
    opacity: 0.8;
    z-index: 100;
}
.erweima{
    position: fixed;
    top:30%;
    width:100%;
    padding:0 10%;
    z-index: 101;
}
.close{
    position: fixed;
    top:10%;
    width:10%;
    right:6%;
    z-index: 102;
}

/*头部导航*/
.nav-wrap{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 999;
    background: #000000;
}
.top-nav{
    max-width: 700px;
    margin:0 auto;
    background: #000000;
    color:#fff;
    overflow-x: auto;
    overflow-y: hidden;
    height:45px;
    line-height: 45px;
    display: flex;
    flex-wrap: nowrap
}
.nav-item{
    flex:0 0 auto;
    text-align: center;
    display: inline-block;
    padding:0 15px;
    position: relative;
}
.nav-word{
    color:#999;
}
.nav-word.active{
    color:#fff;
}
.nav-word.active:after{
    left: 50%;
    position: absolute;
    content: '';
    height: 2px;
    width: 18px;
    background: #fff;
    bottom: 7px;
    margin-left: -9px;
}